<!DOCTYPE html>

<html xmlns:th='http://www.thymeleaf.org'
      xmlns='http://www.w3.org.1999/xhtml'>
    <head>
        <title>obtener</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        
        <h1>
            Ingresar valores
        </h1>
        
        <br/>
        <form th:action='@{/enviar}' method="post" th:object='${arrays}'>
            
            
            <input type="submit" name="enviar" value="Enviar"/>
            
        </form>

                
    </body>
</html>
